* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(241, 219, 89);
}

header {
    padding: 50px;
}
#title {
    font-size: 40px;
    font-family: 'Lexend Peta', sans-serif;
}

#div-form {
    padding: 20px;
    margin-bottom: 15px;
}

#form-form {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

#form-form input {
    width: 70%;
    height: 30px;
    border-style: none;
    border-radius: 5px;
}

#form-form button {
    width: 25%;
    border-style: none;
    border-radius: 5px;
}
#form-form button:hover {
    background-color: cadetblue;
}

/*Using flexbox for every list that will create*/

#row {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

#div-list {
  width: 40%;
  height: fit-content;
  text-align: center;
  font-size: 30px;
  margin: 15px;
}
#list-header {
    width: 100%;
    margin: auto;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(65, 223, 65);
}
#list-header #nameoflist {
    height: 40px;
    font-size: 25px;
    font-family: 'Lexend Peta', sans-serif;
}
#list-header #delete-list {
    width: 40px;
}
#list-header #delete-list:hover {
    background-color: brown;
}

#div-add-todos {
    background-color: darkcyan;
    padding: 5px;
}
#div-add-todos #form-add-todos {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
#div-add-todos #form-add-todos input {
    width: 70%;
    height: 25px;
    border-style: none;
    border-radius: 5px;
}

#div-add-todos #form-add-todos button {
    width: 25%;
    border-style: none;
    border-radius: 5px;
}

#div-add-todos #form-add-todos button:hover {
    background-color: rgb(228, 109, 228);
}

.ul-item {
    display: flex;
    justify-content: space-between;
}
.item-text {
    justify-self: flex-start !important;
}